
.custom-shape-divider-top-1717788429 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1717788429 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 201px;
}

.custom-shape-divider-top-1717788429 .shape-fill {
  fill: #ec6f6f;
}


header {
  padding-top: 3%;
  font-size: 12px;
  font-family: "Vibur", sans-serif;
  background-color: #ec6f6f;
  color: #660202;
  width: 101px;
  border-radius: 5%;
  align-content: end;
}
#post-form {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

#post-content {
  color: cornsilk;
  background-color: #010a01;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#post-button {
  background-color: #742a08;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#posts {
  color: black;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;

}
